@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #20a783;
  text-align: center;
  margin-bottom: 20px;
}

.todo-form .form-group {
  margin-bottom: 0;
}

.todo-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom: 1px solid #13ad88;
}

.todo-form .btn {
  padding: 10px;
  background-color: #13ad88;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-form .btn:hover {
  background-color: #0c755d;
}

.todo-label {
  font-weight: 500;
  font-size: 19px;
}

.todo-card {
  background-color: #ccf5d3;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.todo-card .card-body {
  padding: 1rem;
}

.todo-card .card-title {
  font-size: 1.25rem;
}

.todo-card .card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.todo-card .status-dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.todo-card .completed {
  background-color: #13ad88;
  color: white;
}

.todo-card .not-completed {
  background-color: #fe8083;
  color: white;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.filter-container .filter-dropdown {
  margin-left: 10px;
  width: 150px;
}

.btn-add {
  background-color: #13ad88;
  color: #fff;
}

.btn-add:hover {
  background-color: #0c755d;
  color: #fff;
}

.btn-danger {
  background-color: #d05e1f;
}


.todo-card {
  width: 100%; 
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-dropdown {
  margin-left: 10px;
}


.filter-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.filter-dropdown.not-all-completed {
  background-color: #fe8083;
  color: white;
}

.filter-dropdown.all-completed {
  background-color: #13ad88;
  color: white;
}

.filter-dropdown option {
  background-color: white;
  color: black;
}

.filter-dropdown option[value="Completed"] {
  background-color: #13ad88;
  color: white;
}

.filter-dropdown option[value="Not Completed"] {
  background-color: #fe8083;
  color: white;
}